// COLOR
$primaryColor: #5bc5f4;
$secondaryColor: #f1f1f1;

// FONT_COLOR
$headingFontSize: 18px;
$paragraphFontSize: 14px;

// FONT_COLOR
$headingFontColor: #353535;
$paragraphFontColor: #555555;

// SECTION_GAP
$sectionGap: 80px;
$subSectionGap: 40px;

// FONT_FAMILY
$opensans: 'Open Sans', sans-serif;
$oswald: 'Oswald', sans-serif;