#about {
  margin-top: $sectionGap;
  text-align: center;
  .common__heading {
    position: relative;
    display: inline-block;
    h5 {
      color: $headingFontColor;
      text-transform: uppercase;
      @include font(24px, $oswald, 500);
    }
    img {
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }
  .main {
    margin-top: $subSectionGap;
    justify-content: space-between;
    flex-wrap: wrap;
    .about__img {
      width: 45%;
      overflow: hidden;
      &:hover img {
        transform: scale(1.2);
      }
      img {
        width: 100%;
        transition: all linear 0.3s;
      }
    }
    .about__info {
      margin-top: $subSectionGap;
      width: 53%;
      text-align: left;
      line-height: 24px;
      p {
        @include font(13px, $opensans, 400);
        span {
          display: inline-block;
          padding-top: 40px;
        }
      }
    }
  }
}
